.about{
    background-color: #121816;
    h3{
    color: #0fdfa1;
    font-family: "semibold";
    }
    .custom-hr{
        border-color: #0fdfa1;
    }
    h4{
        font-family: "black";
    }
    p{
        font-family: "semibold";
    }
}