.creation{
background: rgba(18,24,22,1);
background: linear-gradient(90deg,rgba(18,24,22,1) 0%, rgba(23,40,37,1) 40%, rgba(28,53,49,1) 80%);
background: -webkit-linear-gradient(90deg,rgba(18,24,22,1) 0%, rgba(23,40,37,1) 40%, rgba(28,53,49,1) 80%);
background: -moz-linear-gradient(90deg,rgba(18,24,22,1) 0%, rgba(23,40,37,1) 40%, rgba(28,53,49,1) 80%);
h3{
    color: #0fdfa1;
    font-family: "semi-bold";
}
h4{
    font-family: "black";
}
.custom-hr{
    border-color: #0fdfa1; 
}
p{
    font-family: "semibold";
}
}