.navmenu {
  position: sticky;
  top: 0;
  background-color: #121816;
  z-index: 1000;
  transition: background-color 0.3s ease; 
   
a:hover {
      color: #48AD8F;
    }
    li{
      font-family: "inter-bold";
    }
    #home{
      color: #48AD8F;
    }
    .burger-icon {
      font-size: 24px; // Taille de la police
      color: white; // Couleur de l'icône
      cursor: pointer; // Curseur au survol
      transition: color 0.3s; // Transition de couleur
    }
    
    .burger-icon:active {
      // Ajoutez vos styles d'effet ici
      // Par exemple, changez la couleur ou la taille pendant le clic
      transform: scale(1.2);
      color: #48AD8F; // exemple de couleur différente pendant le clic
      // Autres styles...
    }
    
  }