.presentation{
    background: rgba(72,173,143,1);
    background: linear-gradient(90deg,rgba(72,173,143,1) 0%, rgba(28,53,49,1) 80%);
    background: -webkit-linear-gradient(90deg,rgba(72,173,143,1) 0%, rgba(28,53,49,1) 80%);
    background: -moz-linear-gradient(90deg,rgba(72,173,143,1) 0%, rgba(28,53,49,1) 80%);

.custom-hr{
    border-color: #0fdfa1; 
}
h2{
    color: #0fdfa1;
    font-family: "semi-bold";
}
h3{
    font-family: "black";
}
p{
    font-family: "semibold";
}
}